<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--<bean id="userDao" class="com.itcast.dao.impl.UserDaoImpl" init-method="init" destroy-method="destory">-->
    <!--<property name="dataSource" ref="dataSource"></property>-->
    <!--</bean>-->
    <!--<bean  id="UserDao" class="com.itcast.dao.impl.StaticFactoryBean" factory-method="getUserDao"></bean>-->
    <!--<bean id="aaa" class="com.itcast.dao.impl.FactoryBean" ></bean>-->
    <!--<bean id="UserDao" factory-bean="aaa" factory-method="getUserDao"></bean>-->


    <context:component-scan base-package="com.itcast"></context:component-scan>
    <context:property-placeholder location="classpath:jdbc.properties"></context:property-placeholder>
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}"></property>
        <property name="jdbcUrl" value="${jdbc.url}"></property>
        <property name="user" value="${jdbc.username}"></property>
        <property name="password" value="${jdbc.password}"></property>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"></property>
    </bean>


    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <!--<tx:advice id="txAdvice" transaction-manager="transcationManager">-->
        <!--<tx:attributes>-->
            <!--<tx:method name="*/"/>-->
        <!--</tx:attributes>-->
    <!--</tx:advice>-->
    <!--<aop:config>-->
        <!--<aop:pointcut id="myPoingcut" expression="execution(* com..*(..))"></aop:pointcut>-->
        <!--<aop:advisor advice-ref="txAdvice" pointcut-ref="myPoingcut"></aop:advisor>-->

    <!--</aop:config>-->
    <tx:annotation-driven ></tx:annotation-driven>
    <!--<bean id="personService" class="com.itcast.springAOP.target.impl.PersonServiceImpl"></bean>-->
    <!--<bean id="myaspect" class="com.itcast.springAOP.aspect.MyAspect"></bean>-->
    <!--<aop:config>-->
    <!--<aop:aspect ref="myaspect">-->
    <!--<aop:before method="before" pointcut="execution(* com.*..*(..))"></aop:before>-->
    <!--</aop:aspect>-->
    <!--</aop:config>-->
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>

    <!--<bean id="userService" class="com.itcast.service.impl.UserServiceImpl">-->
    <!--<property name="userDao" ref="userDao"></property>-->
    <!--<property name="name" value="钟无艳"></property>-->
    <!--<property name="list">-->
    <!--<list>-->
    <!--<value>孙盈盈</value>-->
    <!--<value>王文鑫</value>-->
    <!--</list>-->
    <!--</property>-->
    <!--</bean>-->
</beans>